<nav class="sidebar__nav">
  <% groups.each do |group| %>
    <div class="nav-group">
      <span class="nav-group__title"><%= group.title %></span>
      <% group.items.each do |item| %>
        <%= link_to item.label, item.path, class: ("is-active" if active?(item)) %>
      <% end %>
    </div>
  <% end %>
</nav>
