<% content_for :title, "Nova tarefa" %>

<div class="page-head"><div class="page-head__titles"><h1>Nova tarefa</h1></div></div>

<div class="card form-card"><%= render "form", task: @task %></div>

<%= link_to "Voltar", tasks_path, class: "back-link" %>
