<% content_for :title, "Nova demanda" %>

<div class="page-head"><div class="page-head__titles"><h1>Nova demanda</h1></div></div>

<div class="card form-card"><%= render "form", demand: @demand %></div>

<%= link_to "Voltar", demands_path, class: "back-link" %>
