<% content_for :title, "Editar projeto" %>

<div class="page-head"><div class="page-head__titles"><h1>Editar projeto</h1></div></div>

<div class="card form-card"><%= render "form", project: @project %></div>

<%= link_to "Voltar", (@return_to.presence || @project), class: "back-link" %>
