<% content_for :title, "Novo projeto" %>

<div class="page-head"><div class="page-head__titles"><h1>Novo projeto</h1></div></div>

<div class="card form-card"><%= render "form", project: @project %></div>

<%= link_to "Voltar", projects_path, class: "back-link" %>
