<% content_for :title, "Novo apontamento" %>

<div class="page-head"><div class="page-head__titles"><h1>Novo apontamento</h1></div></div>

<div class="card form-card"><%= render "form", time_entry: @time_entry %></div>

<%= link_to "Voltar", time_entries_path, class: "back-link" %>
